#container{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    text-align: center;
  }
  #container * {
    width: 100%;
  }
  input {
    display: inline-block;
    width: 150px !important;
  }
  button {
    width: 100px !important;
    margin: auto;
  }